* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 2rem;
    background-color: #0D1B2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}